.elm-app.row {
    margin-top: 10rem;
}

.elm-form {
    background: #d8eef0;
    padding: 50px;
}

.server-response {
    position: absolute;
    top: 15px;
    color: rebeccapurple;
}

ul.input-error {
    color: #ec3f3f;
    list-style: none;
	text-indent: -2.5em;
}
